@import url('https://fonts.googleapis.com/css?family=Poppins:1001,200,300,400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    background: #fff;
}
.navigation{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 65px;
    border-top-right-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #acc6aa ;
    background: #acc6aa;
    transition: width  0.5s;
    overflow: hidden;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
  } 
.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.navigation.active{
    width: 300px;
}
.navigation ul{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.navigation ul li.active{
    background: #fff;
}
.navigation ul li:nth-child(1){
    margin-bottom: 50px;
    pointer-events: none;
}
.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
} 
.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #acc6aa;
}
.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
} 
.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #acc6aa;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
    display: block;

}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li.active a{
    color: #333;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.5em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
.main{
    position: absolute;
    display: flex;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #acc6aa;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active{
   background: #a5b1c2 ; 
}
.toggle ion-icon{
    position: absolute;
    color: #fff;
    font-size: 34px;
    display: none;
}
.toggle ion-icon.open,
.toggle.active ion-icon.close{
    display: block;
}
.toggle ion-icon.close,
.toggle.active ion-icon.open{
    display: none;
}
.main-top{
    display: flex;
    width: 100%;
    bottom: 200px;
  }
.main-top h2{
    position:relative ;
    color: #a5b1c2;
    top: 10px;
    text-transform: capitalize;
    right: 790px;
   /* right: 780px;*/
    margin: 20px  38px 40px ;
    align-items: center;
    display: flex;
}
.main-top h1{
    position:absolute ;
    color: #acc6aa;
    top: 20px;
    text-transform: capitalize;
    right: 790px;
   /* right: 780px;*/
    margin: 20px  38px 40px ;
    align-items: center;
    display: flex;
}

.titre{
    color: #acc6aa;
    background-color: #acc6aa;
}
